<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-button (click)="goBack()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="primary">
			<ion-button>
				<ion-icon name="information-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>{{ workout.name }}</ion-title>
	</ion-toolbar>

	<div [style.height]="workout.exercices.length > 1 ? '15px' : '1px'" style="display: flex;">
		<div 
			*ngFor="let exercice of workout.exercices; let i = index"
			[style.background-color]="i <= currentExerciceIndex ? hexColor : '#b9bbb6'" 
			[style.width]="(100 / workout.exercices.length).toString() + '%'" 
			style="height: 100%;border: solid white 1px">
		</div>
	</div>

	<ion-toolbar [color]="color">
		<div style="display: flex; justify-content: center; width: 100%">
			<ion-label>{{elementTitle | uppercase}} {{ exercice?.name ? "-" : "" }} {{ exercice?.name | uppercase }}</ion-label>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div style="display: flex; width: 100%;height:100%;justify-content: center;align-items: center;">
		<div #progress>
			<span *ngIf="clickToContinue" [style.color]="hexColor" style="position: absolute;left: 50%;top:30%;transform: translate(-50%, -50%);font-size: 75px;"> {{reps}} </span>
			<circle-progress #progressCircle [percent]="percent" [title]="time" [outerStrokeColor]="hexColor"
				[outerStrokeGradientStopColor]="hexColor" [titleColor]="hexColor">
			</circle-progress>
			<span *ngIf="clickToContinue" [style.color]="hexColor" style="position: absolute;left: 50%;top:63%;transform: translate(-50%, -50%);font-size: large;"> CLICK TO CONTINUE </span>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar [color]="color" style="border-bottom: solid white 1px;">
		<div style="display:flex;flex-direction:row;align-items: center;justify-content: space-around;">
			<ion-button selected="true" (click)="previous()" [disabled]="!activateControls" [color]="color">
			<ion-icon name="play-skip-back-outline"></ion-icon>
			<ion-label>Restart</ion-label>
			</ion-button>
		
			<ion-button (click)="toggle()" selected="true" [disabled]="!activateControls" [color]="color">
				<ion-icon *ngIf="state==='active'" name="pause-outline"></ion-icon>
				<ion-icon *ngIf="state==='paused'" name="play-outline"></ion-icon>
				<ion-label>{{ state === 'active' ? "Pause" : "Resume"}}</ion-label>
			</ion-button>
		
			<ion-button selected="true" (click)="next()" [disabled]="!activateControls" [color]="color">
			<ion-icon name="play-skip-forward-outline"></ion-icon>
			<ion-label>Next</ion-label>
			</ion-button>
		</div>
	</ion-toolbar>
	<ion-toolbar [color]="color">
		<div style="width:100%; display:flex; justify-content: space-around; align-items: center; height: 100%;padding-top: 5px;">
			<div style="display:flex; flex-direction: column; align-items:center">
				<span class="info-title">Elapsed</span><span class='info-data'>{{elapsed}}</span>
			</div>
			<div style="display:flex; flex-direction: column;align-items:center" *ngIf="totalSets > 1">
				<span class="info-title">Sets</span><span class="info-data">{{sets}}</span>
			</div>
			<div style="display:flex; flex-direction: column;align-items:center">
				<span class="info-title">Intervals</span><span class="info-data">{{intervals}}</span>
			</div>
			<div style="display:flex; flex-direction: column;align-items:center">
				<span class="info-title">Remaining</span><span class="info-data">{{remaining}}</span>
			</div>
		</div>
	</ion-toolbar>
</ion-footer>