<app-header></app-header>

<ion-content>
  <ion-list style="border-top: solid white 1px;">
    <ion-item lines="full" color="tertiary">
      <div style="display:flex;justify-content:space-around;width:100%;height:100%;align-items: center">
        <ion-icon name="save-outline"></ion-icon>
        <ion-input placeholder="Enter Workout Name"></ion-input>
        <ion-icon name="add-circle-outline" (click)="createExercice()"></ion-icon>
      </div>
    </ion-item>
    <ng-container *ngFor="let exercice of exercices; let i = index;">
      <ion-item lines="full">
        <ion-avatar slot="start">
          <ion-icon name="barbell-outline" color="primary"></ion-icon>
        </ion-avatar>
        <ion-label style="text-align: center;">{{ exercice.name || "Unamed Exercice" }}</ion-label>
        <ion-icon name="pencil-outline" color="warning" slot="end"></ion-icon>
        <ion-icon name="trash-outline" color="danger" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="full">
        <ion-avatar slot="start">
          <ion-icon name="time-outline" color="primary"></ion-icon>
        </ion-avatar>
        <ion-label style="text-align: center;">Rest</ion-label>
        <ion-label style="text-align: center;">
          {{ exercice.elements[exercice.elements.length - 1].value }} 
          {{ exercice.elements[exercice.elements.length - 1].unit }}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ion-toolbar (click)="start()" color="tertiary" style="border-bottom: solid white 1px;">
  <div class="ion-activatable ripple-parent" style="display: flex;width: 100%;justify-content: center;">
     START
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-toolbar>
<app-footer></app-footer>



