<ion-header>
  <ion-toolbar color="secondary">
    <div style="display:flex;justify-content:space-around;width:100%;height:100%;align-items: center;padding-left: 10px;padding-right: 10px;">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      <ion-input [placeholder]="'Enter ' + (isPreset ? 'Preset' : 'Exercice') + ' Name'" [(ngModel)]="exerciceName"></ion-input>
      <ion-icon name="refresh-circle-outline" (click)="resetDefaults()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="border-top: solid white 1px;">
    <ion-item lines="full">
      <div style="width: 100%;height:100%;display: flex;justify-content: space-around;align-items: center;">
        <ion-label *ngIf="!forcePreset" color="secondary">Preset</ion-label>
        <ion-toggle *ngIf="!forcePreset" (ionChange)="updatePreset()" [(ngModel)]="isPreset" color="secondary"></ion-toggle>
        <ion-label color="secondary">Custom Work</ion-label>
        <ion-toggle color="secondary"></ion-toggle>
      </div>
    </ion-item>
    <ion-item 
      lines="full" 
      *ngFor="let element of elements; let i = index;" 
      button 
      detail="false" 
      [disabled]="preset && !preset.elements[i]?.presetConfigurable"
    >
      <ion-avatar slot="start">
        <ion-icon [name]="element.icon" color="secondary"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="workout-setting-item-title">
          {{ element.title }}
          <span style="width: 10px;"></span>
          <ion-icon *ngIf="element.reppable" name="time" [color]="element.unit === 's' ? 'secondary' : 'danger'" (click)="toggleReps(i)"></ion-icon>
        </h2>
        <div class="workout-setting-item-body">
          <ion-icon
            name="remove-circle-outline"
            color="secondary"
            (click)="decrementValue(i)">
          </ion-icon>
          <ion-datetime 
            *ngIf="element.unit === 's'" 
            displayFormat="mm:ss" 
            [value]="toTime(element.value)" 
            (ionChange)="updateTime($event, i)"
            style="font-size: 20px;padding:0;">
          </ion-datetime>
          <span *ngIf="!element.unit">{{element.value}}</span>
          <span *ngIf="element.unit === 'reps'">{{element.value > 0 ? element.value : ''}} {{ element.unit }}</span>
          <ion-icon
            name="add-circle-outline"
            color="secondary"
            (click)="incrementValue(i)">
          </ion-icon>
        </div>
      </ion-label>
      <div *ngIf="isPreset || forcePreset" style="display: flex;flex-direction: column;align-items: center;">
        <span style="font-size: 13px;margin-bottom: 5px;">Configurable</span>
        <ion-toggle [(ngModel)]="element.presetConfigurable" color="secondary"></ion-toggle>
      </div>
    </ion-item>
    <ion-item lines="full">
      <div style="display:flex;justify-content:space-around;width:100%">
        <ion-chip outline color="secondary">
          <ion-icon name="alarm-outline"></ion-icon>
          <ion-label>{{time}}</ion-label>
        </ion-chip>
        <ion-chip outline color="secondary">
          <ion-icon name="hourglass-outline"></ion-icon>
          <ion-label>{{intervals}} Intervals</ion-label>
        </ion-chip>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon (click)="showPresets()" name="list-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <div style="display: flex;width: 100%">
      <div 
        *ngFor="let action of actions; let i = index"
        (click)="run(i)"
        [style.width]="(100 / actions.length) + '%'"
        [style.borderRight]="i < actions.length - 1 ? 'solid white 1px' : 'none'"
        style="display: flex;justify-content: center;"
      >
        <ion-button expand="block" color="secondary">{{action.name}}</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
