
  <app-header></app-header>

  <ion-content>
    <ion-list>
      <ion-item button detail="false" expand="block" color="secondary" (click)="quickExercice()">
        Quick Exercice
        <ion-icon slot="end" name="barbell"></ion-icon>
      </ion-item>
      <ion-item button detail="false" expand="block" color="tertiary" (click)="quickWorkout()">
        Quick Workout
        <ion-icon slot="end" name="barbell"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <app-footer></app-footer>


