ion-avatar > ion-icon {
  font-size: 40px !important;
}

ion-item {
  --border-color: white;
}

ion-chip {
  --color: white;
  border-color: white;
}

ion-chip ion-icon {
  color: white;
}

ion-chip ion-label {
  color: white;
}
