<app-header></app-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let workout of workouts; let i = index">
      <ion-item style="border-bottom: solid 0.5px white;" color="tertiary" lines="none" (click)="start(i)">
        <ion-icon name="barbell-outline" style="font-size: 40px;"></ion-icon>
        <ion-label style="text-align: center;">{{ workout.name }}</ion-label>
        <ion-chip outline color="light">
          <ion-icon name="alarm-outline"></ion-icon>
          <ion-label>{{ toTime(workout.totalTime) }}</ion-label>
        </ion-chip>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="edit(i)">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="remove(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="add()">
      <ion-icon name="add-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-footer></app-footer>
